<article>
  <header>
    {{ title_prefix }}
        {{ label }}
    {{ title_suffix }}
  </header>
  <section>
    <img src="{{ artist_pic }}" alt="{{ label }}">
  </section>
  <section>
    <h2>Genres:</h2>
    <ul>
      {% for genre in artist_genres %}
      <li>{{ genre }}</li>
      {% endfor %}
    </ul>
  </section>
  <section>
    {{ artist_play }}
  </section>
</article>
